.room_header {
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 6;
  display: flex;
  height: 50px;

}

.room_header > div:first-child {
  min-width: 100px;
  width: 100px;
  display: flex;
  border-right: 1px solid;
  border-bottom: 1px solid;
}

.room_header_label {
  display: flex;
  flex: 1 1 auto;
  border-right: 1px solid;
  border-bottom: 1px solid;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 6rem;
  width: 6rem;

}


.room_body {
  flex: 1 1 auto;
  position: relative;
  width: 100%;
}

.flex_none {
  flex: none;
}

.room_row {
  display: flex;
}

.room_row > :last-child {
  overflow: clip;
  position: relative;
  flex: 1 0 auto;
  flex-direction: column;
  min-height: 69px;
  display: flex;
}