.header {
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 6;
  display: flex;
  height: 50px;

}

.header > div:first-child {
  min-width: 100px;
  width: 100px;
  display: flex;
  border-right: 1px solid;
  border-bottom: 1px solid;
  /*justify-content: center;*/
  /*align-items: center;*/


}
.header_label {
  display: flex;
  flex: 1 1 auto;
  border-right: 1px solid;
  border-bottom: 1px solid;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 6rem;
  width: 6rem;
  /*width: 200px;*/
}


.body {
  flex: 1 1 auto;
  position: relative;
  width: 100%;
}

.flex_none {
  flex: none;
}
/*.real_time {*/
/*  display: flex;*/
/*  left: auto;*/
/*  overflow: visible;*/
/*  position: -webkit-sticky;*/
/*  position: sticky;*/
/*  right: auto;*/
/*  height: 50px;*/
/*  z-index: 10;*/
/*}*/

/*.time {*/
/*  position: relative;*/
/*  width: 100%;*/
/*}*/
/*.time_son {*/
/*  box-sizing: content-box;*/
/*  height: 700px;*/
/*  margin-top: 0em;*/
/*  overflow: hidden;*/
/*  !*padding-top: 2em;*!*/
/*  pointer-events: none;*/
/*  position: absolute;*/
/*  top: 100%;*/
/*  border: 1px solid red;*/


/*  !*background-color: red;*!*/
/*}*/
.room {
  display: flex;
  /*flex-direction: column;*/
  /*position: relative;*/
}
.room_name {
  display: flex;
  /*flex: 1 1 auto;*/
  width: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  border-right: 1px solid;
  /*border-bottom: 1px solid;*/
}
.room_name div {
  min-height: 69px;
  max-height: 69px;
  /*border-right: 1px solid;*/
  border-bottom: 1px solid;
  /*width: 100px;*/
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.room_val {
  overflow: clip;
  position: relative;
  flex: 1 0 auto;
  flex-direction: column;
  min-height: 69px;
  display: flex;
}
.room_value {
  /*width: 100%;*/
  /*flex-direction: column;*/
  /*flex: 1 0 auto;*/
  /*position: relative;*/
  /*overflow: clip;*/
  justify-content: center;
  align-items: center;
  text-align: center;
  /*border-right: 1px solid;*/
  border-bottom: 1px solid;
  height: 69px;
  /*min-height: 69px;*/
  display: flex;
  position: relative;
}

.room_col {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  min-height: 69px;
  max-height: 69px;
  z-index: 1;
  /*border-bottom: 1px solid;*/
}
.room_col > div {
  display: flex;
  flex: 1 0 auto;
  /*min-width: 6rem;*/
  /*height: 100%;*/
  /*width: 200px;*/
  /*border-right: 1px solid;*/
}

.room_col_sub {
  flex: 1 0 auto;
/*  min-width: 6rem;*/
  border-right: 1px solid;
}

.event_zone {
  bottom: 1em;
  position: absolute;
  top: 0;
  width: 100%;
  cursor: pointer;
}

.event_zone div {
  z-index: 2;

}

.event_zone div div:hover div {
  display: block;
}
.test_css {
  background: #f5d9fa78;
  cursor: move;
}
/*.event_zone div:hover {*/
/*  */
/*}*/

.resize_start {
  height: auto;
  left: 0;
  bottom: 0;
  cursor: ew-resize;
  left: auto;
  right: auto;
  top: 6px;
  width: 0.25em;
  display: none;
  z-index: 5;
}

.resize_start::after {
  left: -0.125em;
  margin-top: -0.25em;
  top: 45%;
  background: #fff;
  border: 1px solid;
  border-radius: 50%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  content: "";
  height: 0.5em;
  margin: 1px 0;
  position: absolute;
  width: 0.5em;
}
.resize_end{
  height: auto;
  right: 0;
  display: block;
  cursor: ew-resize;
  left: auto;
  right: auto;
  top: 6px;
  width: 0.25em;
  display: none;
  z-index: 5;
}
.resize_end::after {
  right: -0.125em;
  margin-top: -0.25em;
  top: 45%;
  background: #fff;
  border: 1px solid;
  border-radius: 50%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  content: "";
  height: 0.5em;
  margin: 1px 0;
  position: absolute;
  width: 0.5em;
}

